/* AppleProducts.css */

.product-container {
    display: flex;
    overflow-x: auto;
  }
  
  .product {
    margin-right: 20px; /* Adjust spacing between products as needed */
  }
  
  /* Optional: Remove margin from the last product to prevent extra space */
  .product:last-child {
    margin-right: 0;
  }
  
  .product img {
    max-width: 100%; /* Set a maximum width for the images */
    height: auto; /* Maintain aspect ratio */
  }